<h1>Users List</h1>
<div *ngFor="let user of user" class="container">
<div class="card mb-3 " >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../assets/images/123.jpg " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-title">{{user.userId}}</p>
          <p class="card-text">{{user.username}} </p>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.phoneno}}</p>
          <p class="card-text">{{user.location}}</p>

          <!--<p class="card-text">{{employee.designation}}</p>-->
        <p><button (click)="updateUser(user.userId)" class="btn btn-info " style="margin-right:9px">Update</button>
            <button (click)="deleteUser(user.userId)" class="btn btn-danger">Delete</button></p>

        </div>
      </div>
    </div>
  </div>
  

</div><router-outlet></router-outlet>