<div *ngFor="let room of rooms" class="container">
    <div class="card mb-3 " >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/images/123.jpg " class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">{{room.roomId}}</p>
              <p class="card-text">{{room.hotelno}} </p>
              <p class="card-text">{{room.room_type}}</p>
              <p class="card-text">{{room.days}}</p>
              <p class="card-text">{{room.price}}</p>
              <p class="card-text">{{room.checkinDate}}</p>

            </div>
          </div>
        </div>
    </div>
</div>
